.DS_Store
node_modules/
.env
sassdoc
docs
/styleguide
.awcache/
lintErrors/
coverage/
errorShots/
test-report.xml
/.awcache/
.idea/
storybook-static
.eslintcache

# dont add ts artifacts
src/**/*.js
src/**/*.jsx
